.forButtonAndCounter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 9px;
  font-family: Bungee;
}
.button {
  display: flex;
  color: #FFFFFF;
  background-color: #4056A1;
  font-family: Bungee;
  font-size: 15px;
  padding: 6px 28px;
}

.new-tweet {
width: 90%;
display: inline-block;
padding:20px;
margin-left: 5%;
margin-right: 5%;
}

.counter.error{
  color : red;
}
.tweet-text {
  background-color: #f4f1ec;
  width: 100%;
  padding:10px;
  resize: none;
  border: none;
  border-bottom: 3px solid gray;
}
.label {
  display: flex;
  margin-bottom: 10px;
}